In [18]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sys

from sklearn.metrics.pairwise import euclidean_distances

In [2]:
clean_df = pd.read_csv('data/clean_data.csv')
clean_df

,Names,Genders,City,17-25,26-34,35-43,44-52,52+,Math Tutor,Science Tutor,...,CSN1,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5
0,Novia Rizki Wulandari,1,Bandung,1,0,0,0,0,1,0,...,5,4,4,5,5,4,4,2,4,4
1,Nabhan Nabilah,1,Bandung,1,0,0,0,0,0,0,...,5,2,5,5,5,2,2,5,5,2
2,Herlina Kusyanuri Putri,1,Bandung,1,0,0,0,0,0,0,...,5,5,5,5,5,4,3,3,4,3
3,Rifdah Alyaa,1,Makassar,1,0,0,0,0,1,0,...,2,3,2,3,4,3,2,3,4,3
4,Salsabilla,1,Bandung,1,0,0,0,0,0,1,...,4,3,3,4,4,2,2,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Usamah,0,Bandung,1,0,0,0,0,0,0,...,5,5,4,5,5,4,4,5,5,5
97,Helena,1,Bandung,0,0,0,0,0,1,0,...,4,3,4,4,4,3,4,2,5,4
98,Deva,1,Bandung,0,1,0,0,0,0,0,...,4,4,4,3,4,3,4,2,4,3
99,Dzaky,0,Bandung,1,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,4,5
100,Biru,1,Makassar,1,0,0,0,0,0,0,...,4,3,3,4,2,4,3,3,3,3

In [3]:
# Check that we not missing any value after combine columns
print('Is there any missing value? ', clean_df.isnull().values.any())
print('How many missing values? ', clean_df.isnull().values.sum())

Is there any missing value?  False
How many missing values?  0

In [4]:
# Copy origin user data into match data to use in cluster
match_df = clean_df.copy()

In [5]:
# Drop Column that not use for clustering match
match_df.drop(['Names', 'City'], axis=1, inplace=True)
match_df

,Genders,17-25,26-34,35-43,44-52,52+,Math Tutor,Science Tutor,Social Tutor,Technology Tutor,...,CSN1,CSN2,CSN3,CSN4,CSN5,OPN1,OPN2,OPN3,OPN4,OPN5
0,1,1,0,0,0,0,1,0,0,0,...,5,4,4,5,5,4,4,2,4,4
1,1,1,0,0,0,0,0,0,1,0,...,5,2,5,5,5,2,2,5,5,2
2,1,1,0,0,0,0,0,0,1,0,...,5,5,5,5,5,4,3,3,4,3
3,1,1,0,0,0,0,1,0,0,0,...,2,3,2,3,4,3,2,3,4,3
4,1,1,0,0,0,0,0,1,0,0,...,4,3,3,4,4,2,2,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,1,0,0,0,0,0,0,0,0,...,5,5,4,5,5,4,4,5,5,5
97,1,0,0,0,0,0,1,0,0,0,...,4,3,4,4,4,3,4,2,5,4
98,1,0,1,0,0,0,0,0,0,0,...,4,4,4,3,4,3,4,2,4,3
99,0,1,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,4,5
100,1,1,0,0,0,0,0,0,0,0,...,4,3,3,4,2,4,3,3,3,3

In [6]:
match_array = match_df.values
match_array.shape

(101, 39)

In [10]:
class PCAModel(tf.Module):
    def __init__(self, x_mean, components):
        super(PCAModel, self).__init__()
        self.x_mean = tf.Variable(x_mean, trainable=False)
        self.components = tf.Variable(components, trainable=False)

    @tf.function(input_signature=[tf.TensorSpec(shape=(None, 39), dtype=tf.float32)])
    def scale_features(self, x):
        x_min = tf.reduce_min(x, axis=0)
        x_max = tf.reduce_max(x, axis=0)

        # Handle columns with zero variance
        zero_variance_mask = tf.math.equal(x_min, x_max)
        non_zero_variance_mask = tf.math.logical_not(zero_variance_mask)

        # Scale the columns with non-zero variance
        x_scaled_non_zero = tf.where(non_zero_variance_mask, (x - x_min) / (x_max - x_min), x)

        # Scale the columns with zero variance
        x_scaled_zero = tf.where(zero_variance_mask, tf.zeros_like(x), x_scaled_non_zero)

        return x_scaled_zero

    @tf.function(input_signature=[tf.TensorSpec(shape=(None, 39), dtype=tf.float32)])
    def apply_pca(self, x):
        x_scaled = self.scale_features(x)
        x_centered = x_scaled - self.x_mean
        
        # Compute the covariance matrix
        covariance_matrix = tf.matmul(tf.transpose(x_centered), x_centered) / tf.cast(tf.shape(x_centered)[0], dtype=tf.float32)

        # Perform eigenvalue decomposition
        eigenvalues, eigenvectors = tf.linalg.eigh(covariance_matrix)
        
        # Sort eigenvectors based on eigenvalues
        sorted_indices = tf.argsort(eigenvalues, direction='DESCENDING')
        sorted_eigenvectors = tf.gather(eigenvectors, sorted_indices, axis=1)
        
        # Select the top k eigenvectors
        k = tf.minimum(tf.shape(sorted_eigenvectors)[1], 2)  # Choose the top 2 eigenvectors (modify as needed)
        selected_eigenvectors = sorted_eigenvectors[:, :k]
        
        # Project the centered data onto the selected eigenvectors
        x_pca = tf.matmul(x_centered, selected_eigenvectors)
        
        return x_pca

# Convert the numpy array to a TensorFlow tensor
x_tf = tf.convert_to_tensor(match_array, dtype=tf.float32)

# Perform PCA with k=2 (reduce to 2 dimensions)
x_mean = tf.reduce_mean(x_tf, axis=0)
_, _, V = tf.linalg.svd(x_tf - x_mean)
components = V[:, :2]

# Create an instance of the PCA model
pca_model = PCAModel(x_mean, components)

In [11]:
# Save the PCAModel as a SavedModel
tf.saved_model.save(
    pca_model,
    export_dir='pca_model/1/',
    signatures={
        'serving_default': pca_model.apply_pca.get_concrete_function()
    }
)

INFO:tensorflow:Assets written to: pca_model/1/assets

In [12]:

!saved_model_cli show --dir {'pca_model/1/'} --all

MetaGraphDef with tag-set: 'serve' contains the following SignatureDefs:

signature_def['__saved_model_init_op']:
  The given SavedModel SignatureDef contains the following input(s):
  The given SavedModel SignatureDef contains the following output(s):
    outputs['__saved_model_init_op'] tensor_info:
        dtype: DT_INVALID
        shape: unknown_rank
        name: NoOp
  Method name is:

signature_def['serving_default']:
  The given SavedModel SignatureDef contains the following input(s):
    inputs['x'] tensor_info:
        dtype: DT_FLOAT
        shape: (-1, 39)
        name: serving_default_x:0
  The given SavedModel SignatureDef contains the following output(s):
    outputs['output_0'] tensor_info:
        dtype: DT_FLOAT
        shape: (-1, 2)
        name: StatefulPartitionedCall:0
  Method name is: tensorflow/serving/predict
The MetaGraph with tag set ['serve'] contains the following ops: {'MatMul', 'StatefulPartitionedCall', 'ReadVariableOp', 'Placeholder', 'Transpose', 'ShardedFilename', 'Min', 'StringJoin', 'NoOp', 'PartitionedCall', 'Shape', 'StaticRegexFullMatch', 'SelfAdjointEigV2', 'GatherV2', 'VarHandleOp', 'Max', 'Select', 'MergeV2Checkpoints', 'StridedSlice', 'LogicalNot', 'RestoreV2', 'Identity', 'Sub', 'DisableCopyOnRead', 'TopKV2', 'SaveV2', 'Pack', 'Cast', 'Const', 'SelectV2', 'Equal', 'ZerosLike', 'RealDiv', 'Minimum', 'AssignVariableOp'}

Concrete Functions:
  Function Name: 'apply_pca'
    Option #1
      Callable with:
        Argument #1
          x: TensorSpec(shape=(None, 39), dtype=tf.float32, name='x')

  Function Name: 'scale_features'
    Option #1
      Callable with:
        Argument #1
          x: TensorSpec(shape=(None, 39), dtype=tf.float32, name='x')

## Test Load Model Directly

In [13]:
# Load the PCA model
loaded_model = tf.saved_model.load("pca_model/1/")

In [14]:
# Generate a new data point
new_data = np.random.rand(1, 39)
new_data_tf = tf.convert_to_tensor(new_data, dtype=tf.float32)

# Predict the PCA value using the loaded model
pca_value = loaded_model.apply_pca(new_data_tf)

# Print the PCA value
print(pca_value)

tf.Tensor([[-1.733514e+01 -9.536743e-07]], shape=(1, 2), dtype=float32)

In [15]:
# Predict PCA Valuse Using Our Match/Users Datasets
new_data_tf = tf.convert_to_tensor(match_array, dtype=tf.float32)

# Predict the PCA value using the loaded model
pca_value = loaded_model.apply_pca(new_data_tf)

# Print the PCA value
print(pca_value)

tf.Tensor(
[[-1.39437504e+01  4.54202533e-01]
 [-1.45697994e+01 -5.31194091e-01]
 [-1.41648922e+01 -3.12957972e-01]
 [-1.51569881e+01 -2.45807320e-01]
 [-1.43135462e+01 -7.82330275e-01]
 [-1.46237698e+01 -4.98418957e-01]
 [-1.46206722e+01  1.45700562e+00]
 [-1.42957802e+01 -2.23677963e-01]
 [-1.48251152e+01  6.07353926e-01]
 [-1.41055727e+01  1.20196462e+00]
 [-1.50505314e+01 -6.47276640e-03]
 [-1.37643089e+01 -1.87686563e-01]
 [-1.47877083e+01  2.91811496e-01]
 [-1.40905161e+01  2.97631443e-01]
 [-1.43425884e+01 -2.47002542e-02]
 [-1.39248114e+01 -1.95534170e-01]
 [-1.43347607e+01  1.06691331e-01]
 [-1.50019331e+01 -4.76971686e-01]
 [-1.48622246e+01  3.41470510e-01]
 [-1.44162731e+01 -4.39514726e-01]
 [-1.33086185e+01  1.02853835e+00]
 [-1.48472261e+01 -2.71165073e-02]
 [-1.46116352e+01  1.82538420e-01]
 [-1.43094902e+01  6.43654943e-01]
 [-1.46728554e+01 -5.09450436e-01]
 [-1.50562620e+01 -4.59727913e-01]
 [-1.44425840e+01  3.58303994e-01]
 [-1.49809952e+01 -7.25632906e-01]
 [-1.44168911e+01 -3.81596893e-01]
 [-1.36008396e+01  5.15677154e-01]
 [-1.49428539e+01  1.34640694e-01]
 [-1.49113398e+01  6.45853519e-01]
 [-1.41224785e+01 -9.90931034e-01]
 [-1.41565657e+01 -6.09216928e-01]
 [-1.45264034e+01  9.31675434e-02]
 [-1.49269190e+01 -8.18195641e-02]
 [-1.32806740e+01 -5.31982660e-01]
 [-1.42280331e+01 -2.37632453e-01]
 [-1.53134928e+01 -4.30459172e-01]
 [-1.44211044e+01 -1.38756245e-01]
 [-1.45696201e+01 -3.49947423e-01]
 [-1.48918324e+01 -8.69306803e-01]
 [-1.40043373e+01 -3.58996779e-01]
 [-1.44829378e+01 -3.49500984e-01]
 [-1.40515556e+01 -5.62228680e-01]
 [-1.54128046e+01  5.80596566e-01]
 [-1.30748377e+01 -3.04454565e-03]
 [-1.37214785e+01 -3.46586406e-01]
 [-1.37369843e+01  2.93037593e-01]
 [-1.41947880e+01  2.65598804e-01]
 [-1.35170956e+01 -2.83142418e-01]
 [-1.44570990e+01  4.80691493e-02]
 [-1.46898384e+01 -3.57809186e-01]
 [-1.42116852e+01 -4.12610143e-01]
 [-1.47372513e+01 -1.69319093e-01]
 [-1.39492369e+01 -6.13766968e-01]
 [-1.36215363e+01 -4.01824713e-02]
 [-1.34982624e+01 -1.08979374e-01]
 [-1.51375351e+01 -1.00186467e+00]
 [-1.44761505e+01 -3.45969200e-01]
 [-1.48679085e+01 -3.91968191e-01]
 [-1.58972321e+01 -4.14096266e-01]
 [-1.47332458e+01  6.81922078e-01]
 [-1.42405777e+01  6.05026841e-01]
 [-1.42262344e+01 -2.91255921e-01]
 [-1.46439133e+01  2.10229665e-01]
 [-1.50613232e+01 -2.03136772e-01]
 [-1.50002480e+01  2.36534148e-01]
 [-1.45757122e+01  7.87549853e-01]
 [-1.38899593e+01  4.79084253e-03]
 [-1.37548523e+01 -2.55335897e-01]
 [-1.47091637e+01  5.51899195e-01]
 [-1.47203636e+01  3.82485062e-01]
 [-1.45735111e+01  2.01335847e-02]
 [-1.48996887e+01  1.07936275e+00]
 [-1.42770329e+01 -2.09763259e-01]
 [-1.54575233e+01 -3.95454764e-02]
 [-1.45182428e+01 -4.17058438e-01]
 [-1.37807846e+01  1.38713449e-01]
 [-1.43598480e+01  1.49059391e+00]
 [-1.45186443e+01  1.81454569e-01]
 [-1.40784969e+01 -5.04577518e-01]
 [-1.45530796e+01 -3.10424238e-01]
 [-1.42604237e+01 -4.61856097e-01]
 [-1.39547024e+01  4.67235148e-01]
 [-1.31748257e+01  9.11530852e-02]
 [-1.26197414e+01 -1.06484771e-01]
 [-1.23236313e+01  2.07634687e-01]
 [-1.28203621e+01  8.61151397e-01]
 [-1.29254036e+01  6.34667873e-02]
 [-1.42499037e+01 -1.02051258e-01]
 [-1.40497952e+01 -1.89292461e-01]
 [-1.44626160e+01  1.85089409e-01]
 [-1.40255814e+01  5.61245322e-01]
 [-1.45821381e+01 -6.98073506e-01]
 [-1.36812534e+01  6.09180331e-01]
 [-1.31891308e+01  6.24646783e-01]
 [-1.36164141e+01 -5.04298329e-01]
 [-1.42295589e+01  5.44290900e-01]
 [-1.32264700e+01  1.49468946e+00]
 [-1.42954807e+01 -9.21686172e-01]], shape=(101, 2), dtype=float32)

## Build Matchmaking Feature

In [23]:
def predict_pca(match_array):
    # Load the PCA model
    loaded_model = tf.saved_model.load('pca_model/1/')
    new_data_tf = tf.convert_to_tensor(match_array, dtype=tf.float32)

    # Predict the PCA value using the loaded model
    pca_value = loaded_model.apply_pca(new_data_tf)
    pca_value_arr = pca_value.numpy()
    
    return pca_value_arr

In [24]:
def get_guides_idx_filtered(user_id, user_df):
    # Get user destination and persona
    user_destination = user_df.loc[user_id, 'City']

    # Filter users with the same destination and roles value of 'guide'
    filtered_users = user_df[(user_df['City'] == user_destination)]

    user_indices = []
    for idx in filtered_users.index:
        user_indices.append(idx)
            
    return user_indices

In [25]:
def matchmaking(user_id, match_array, user_df):
    
    filtered_user_indices = get_guides_idx_filtered(user_id, user_df)
    if len(filtered_user_indices) == 0:
        print("No Results")
        sys.exit()
        
    user_indices = filtered_user_indices + [user_id]
    
    pca_data = predict_pca(match_array[user_indices])

    distances = []
    for idx in user_indices:
        # Get the distances within the cluster of the specified user

        distance_idx = euclidean_distances([pca_data[user_indices.index(user_id)]], [pca_data[user_indices.index(idx)]])
        distances.append(distance_idx)

    # Normalize the distances within the range of 0-100
    normalized_distances = 1 - distances / np.max(distances)
    scores = normalized_distances * 100
    
    # Reshape the list
    scores = np.reshape(scores, (len(user_indices)))
    
    matches = []
    for i in range(len(filtered_user_indices)):
        matches.append((filtered_user_indices[i], scores[i]))
    
    # Sort the matches based on the highest score
    matches.sort(key=lambda x: x[1], reverse=True)

    print("User Index:", user_id)
    print("Matched Peers:")
    match_idx = [user_id]
    for match_index, score in matches:
        if user_df.iloc[match_index, 2] == user_df.iloc[user_id, 2]:
            match_idx.append(match_index)
            print("Index:", match_index, "| Score:", f"{score:.2f}%")
                
    # Check if Destination and roles is correct 
    print()         
    print(user_df.iloc[match_idx, [0, 1, 2]])
    
    # Check if they get same preference
    print()
    print(user_df.iloc[match_idx, 8:16])

In [26]:
matchmaking(0, match_array, clean_df)

User Index: 0
Matched Peers:
Index: 0 | Score: 100.00%
Index: 93 | Score: 94.95%
Index: 78 | Score: 91.07%
Index: 48 | Score: 88.06%
Index: 63 | Score: 86.81%
Index: 95 | Score: 86.51%
Index: 98 | Score: 85.34%
Index: 29 | Score: 81.11%
Index: 69 | Score: 76.29%
Index: 49 | Score: 75.03%
Index: 56 | Score: 74.95%
Index: 92 | Score: 69.46%
Index: 80 | Score: 69.42%
Index: 47 | Score: 68.35%
Index: 75 | Score: 66.50%
Index: 40 | Score: 66.24%
Index: 64 | Score: 64.41%
Index: 65 | Score: 63.57%
Index: 72 | Score: 61.60%
Index: 96 | Score: 61.37%
Index: 62 | Score: 61.28%
Index: 90 | Score: 61.05%
Index: 22 | Score: 60.22%
Index: 50 | Score: 59.23%
Index: 73 | Score: 58.90%
Index: 43 | Score: 58.17%
Index: 8 | Score: 56.13%
Index: 85 | Score: 56.12%
Index: 37 | Score: 53.12%
Index: 9 | Score: 52.03%
Index: 46 | Score: 51.96%
Index: 55 | Score: 51.14%
Index: 2 | Score: 50.35%
Index: 89 | Score: 49.62%
Index: 83 | Score: 48.59%
Index: 60 | Score: 46.93%
Index: 97 | Score: 45.54%
Index: 30 | Score: 45.39%
Index: 88 | Score: 44.29%
Index: 77 | Score: 43.23%
Index: 79 | Score: 43.19%
Index: 44 | Score: 42.92%
Index: 35 | Score: 42.80%
Index: 10 | Score: 41.14%
Index: 5 | Score: 40.75%
Index: 6 | Score: 40.62%
Index: 24 | Score: 35.73%
Index: 66 | Score: 35.28%
Index: 25 | Score: 34.71%
Index: 1 | Score: 31.63%
Index: 4 | Score: 31.20%
Index: 45 | Score: 29.12%
Index: 99 | Score: 28.39%
Index: 76 | Score: 25.23%
Index: 87 | Score: 20.10%
Index: 61 | Score: 0.00%

                        Names  Genders     City
0      Novia Rizki Wulandari         1  Bandung
0      Novia Rizki Wulandari         1  Bandung
93           Salsabilla Rizki        1  Bandung
78            Gandhi Muhammad        0  Bandung
48             Zahra Sevilla         1  Bandung
63                       Nisa        1  Bandung
95                      Salma        1  Bandung
98                       Deva        1  Bandung
29                         dv        1  Bandung
69                  Nur Aliya        1  Bandung
49                      winda        1  Bandung
56                       Pebi        1  Bandung
92                        Féi        1  Bandung
80                      chita        1  Bandung
47                         Al        1  Bandung
75                    Alfinda        1  Bandung
40                      Nalen        0  Bandung
64              Rizky Firstia        1  Bandung
65                  Michael D        0  Bandung
72       Risqie Nur Salsabila        1  Bandung
96                     Usamah        0  Bandung
62                     Fauzan        0  Bandung
90                        JNS        1  Bandung
22         Ade Liya Fatmawati        1  Bandung
50         Syifa Choerunnisa         1  Bandung
73               zahra kamila        1  Bandung
43                   Fernanda        1  Bandung
8                          JJ        1  Bandung
85                 Nur Aisyah        1  Bandung
37                     kaluna        1  Bandung
9               Abiyyu Farhan        0  Bandung
46                      Windy        1  Bandung
55            Shinta Rizkiani        1  Bandung
2     Herlina Kusyanuri Putri        1  Bandung
89                       Dera        1  Bandung
83                 Dhea Setya        1  Bandung
60                      gugun        0  Bandung
97                     Helena        1  Bandung
30                        NCM        1  Bandung
88                     debbie        1  Bandung
77                        Dwi        1  Bandung
79         Kuncoro Adi Wibowo        0  Bandung
44                      Winda        1  Bandung
35             Jasmine Khaira        1  Bandung
10                      fayza        1  Bandung
5                     Maulani        1  Bandung
6              Alexis Purnomo        0  Bandung
24  Dessylva Maharany Santosa        1  Bandung
66                      Nadia        1  Bandung
25                     Elma N        1  Bandung
1              Nabhan Nabilah        1  Bandung
4                  Salsabilla        1  Bandung
45                    Farizka        1  Bandung
99                      Dzaky        0  Bandung
76                     Hafidz        0  Bandung
87                          E        1  Bandung
61                       Elsa        1  Bandung

    Math Tutor  Science Tutor  Social Tutor  Technology Tutor  Music Tutor
0            1              0             0                 0            0  \
0            1              0             0                 0            0
93           1              0             0                 0            0
78           0              0             0                 0            0
48           1              0             0                 0            0
63           0              0             0                 0            0
95           0              0             0                 0            0
98           0              0             0                 0            0
29           0              0             1                 0            0
69           1              0             0                 0            0
49           1              0             0                 0            0
56           0              0             0                 1            0
92           0              0             1                 0            0
80           0              0             0                 1            0
47           1              0             0                 0            0
75           0              0             0                 1            0
40           0              0             0                 0            0
64           1              0             0                 0            0
65           0              0             0                 0            0
72           0              1             0                 0            0
96           0              0             0                 0            0
62           0              0             0                 0            0
90           0              0             0                 0            0
22           0              0             0                 0            1
50           0              1             0                 0            0
73           0              0             0                 0            1
43           0              0             0                 0            0
8            0              0             0                 1            0
85           0              0             1                 0            0
37           0              1             0                 0            0
9            0              0             0                 1            0
46           0              0             0                 0            0
55           0              1             0                 0            0
2            0              0             1                 0            0
89           0              0             0                 0            0
83           0              0             0                 0            1
60           1              0             0                 0            0
97           1              0             0                 0            0
30           0              1             0                 0            0
88           0              0             0                 0            0
77           0              0             0                 0            1
79           0              0             0                 0            0
44           0              0             0                 0            0
35           0              0             0                 0            0
10           0              0             1                 0            0
5            0              1             0                 0            0
6            1              0             0                 0            0
24           0              0             0                 0            1
66           0              0             0                 0            0
25           0              0             0                 0            0
1            0              0             1                 0            0
4            0              1             0                 0            0
45           0              0             0                 0            0
99           0              0             0                 0            0
76           0              0             0                 0            1
87           0              0             0                 0            0
61           0              0             0                 0            0

    Arts Tutor  Multimedia Tutor  Language Tutor
0            0                 0               0
0            0                 0               0
93           0                 0               0
78           0                 1               0
48           0                 0               0
63           1                 0               0
95           1                 0               0
98           0                 1               0
29           0                 0               0
69           0                 0               0
49           0                 0               0
56           0                 0               0
92           0                 0               0
80           0                 0               0
47           0                 0               0
75           0                 0               0
40           0                 0               1
64           0                 0               0
65           1                 0               0
72           0                 0               0
96           1                 0               0
62           1                 0               0
90           0                 1               0
22           0                 0               0
50           0                 0               0
73           0                 0               0
43           0                 0               1
8            0                 0               0
85           0                 0               0
37           0                 0               0
9            0                 0               0
46           0                 1               0
55           0                 0               0
2            0                 0               0
89           0                 0               1
83           0                 0               0
60           0                 0               0
97           0                 0               0
30           0                 0               0
88           1                 0               0
77           0                 0               0
79           1                 0               0
44           1                 0               0
35           0                 1               0
10           0                 0               0
5            0                 0               0
6            0                 0               0
24           0                 0               0
66           0                 1               0
25           0                 0               1
1            0                 0               0
4            0                 0               0
45           0                 0               1
99           0                 1               0
76           0                 0               0
87           1                 0               0
61           0                 0               1

In [28]:
matchmaking(58, match_array, clean_df)

User Index: 58
Matched Peers:
Index: 58 | Score: 100.00%
Index: 41 | Score: 92.25%
Index: 94 | Score: 75.50%
Index: 19 | Score: 73.92%
Index: 17 | Score: 72.95%
Index: 100 | Score: 72.33%
Index: 54 | Score: 68.86%
Index: 38 | Score: 67.71%
Index: 7 | Score: 66.78%
Index: 27 | Score: 66.56%
Index: 32 | Score: 66.08%
Index: 21 | Score: 64.00%
Index: 28 | Score: 61.50%
Index: 34 | Score: 60.95%
Index: 53 | Score: 60.08%
Index: 3 | Score: 59.35%
Index: 12 | Score: 59.00%
Index: 81 | Score: 58.79%
Index: 59 | Score: 57.39%
Index: 39 | Score: 56.30%
Index: 13 | Score: 54.79%
Index: 52 | Score: 54.31%
Index: 33 | Score: 54.30%
Index: 51 | Score: 53.35%
Index: 82 | Score: 52.81%
Index: 14 | Score: 52.52%
Index: 70 | Score: 51.73%
Index: 67 | Score: 50.76%
Index: 91 | Score: 50.10%
Index: 16 | Score: 49.10%
Index: 42 | Score: 48.07%
Index: 15 | Score: 44.67%
Index: 68 | Score: 44.51%
Index: 71 | Score: 41.52%
Index: 31 | Score: 40.54%
Index: 26 | Score: 38.12%
Index: 11 | Score: 37.92%
Index: 84 | Score: 36.48%
Index: 18 | Score: 34.70%
Index: 36 | Score: 34.04%
Index: 23 | Score: 31.30%
Index: 57 | Score: 30.36%
Index: 74 | Score: 26.99%
Index: 86 | Score: 18.55%
Index: 20 | Score: 0.00%

                         Names  Genders      City
58             Alyzar Aviandi         0  Makassar
58             Alyzar Aviandi         0  Makassar
41                     Gustian        0  Makassar
94                      Annisa        1  Makassar
19           Roihaan Ramadhani        0  Makassar
17      Muhammad Zidan Maulana        0  Makassar
100                       Biru        1  Makassar
54               Daffa Baihaqi        0  Makassar
38                     fadilah        1  Makassar
7         Rifky Surya Pratama         0  Makassar
27             Asih Handayani         1  Makassar
32                     Astried        1  Makassar
21         Ihlasul Mufti Faqih        0  Makassar
28            Nur Alifia Riany        1  Makassar
34                        Zeen        0  Makassar
53                      Astrid        1  Makassar
3                 Rifdah Alyaa        1  Makassar
12           Dimas Alfiansyah         0  Makassar
81         Lili Nandita Auliya        1  Makassar
59          Irvian Nurcholifah        1  Makassar
39                        Rasy        0  Makassar
13          Bayu Daru Isnandar        0  Makassar
52               Fitrah Amalia        1  Makassar
33                        Hani        1  Makassar
51                      Firman        0  Makassar
82                         Ann        1  Makassar
14            Rahmaliyah Kadir        1  Makassar
70                     Mas Esa        0  Makassar
67                      Rahmad        0  Makassar
91                    Jonathan        0  Makassar
16                   Thoriq AS        0  Makassar
42                      Dhian         1  Makassar
15                      Faizah        1  Makassar
68                       Hafid        0  Makassar
71              Ifsiyana Rizki        1  Makassar
31                       Ammar        0  Makassar
26                        Hani        1  Makassar
11                   Yanuarita        1  Makassar
84                           K        1  Makassar
18                      Andani        1  Makassar
36         Amelia Nur Safitri         1  Makassar
23   Dyah Ayu Kusuma Wardhani         1  Makassar
57                     kartika        1  Makassar
74                         Ney        1  Makassar
86               Arya adiatama        0  Makassar
20               Muthiah Hanun        1  Makassar

     Math Tutor  Science Tutor  Social Tutor  Technology Tutor  Music Tutor
58            0              0             0                 0            0  \
58            0              0             0                 0            0
41            0              0             0                 0            0
94            0              0             0                 0            0
19            0              0             0                 1            0
17            0              1             0                 0            0
100           0              0             0                 0            0
54            0              0             1                 0            0
38            0              0             0                 0            0
7             0              0             0                 0            0
27            0              1             0                 0            0
32            0              0             0                 0            0
21            0              0             0                 1            0
28            0              0             0                 0            0
34            0              0             0                 1            0
53            0              0             0                 0            0
3             1              0             0                 0            0
12            0              1             0                 0            0
81            0              0             0                 1            0
59            0              1             0                 0            0
39            0              0             0                 0            1
13            0              0             0                 1            0
52            0              1             0                 0            0
33            0              0             1                 0            0
51            1              0             0                 0            0
82            1              0             0                 0            0
14            0              0             0                 0            0
70            0              1             0                 0            0
67            0              1             0                 0            0
91            0              0             0                 0            1
16            0              0             0                 0            0
42            0              0             0                 0            0
15            0              0             0                 1            0
68            0              0             0                 0            0
71            0              0             0                 0            0
31            0              0             0                 0            1
26            0              0             1                 0            0
11            0              0             0                 0            1
84            0              0             0                 1            0
18            0              0             1                 0            0
36            0              1             0                 0            0
23            0              0             0                 0            0
57            0              0             0                 0            1
74            0              0             0                 0            0
86            0              0             0                 0            0
20            0              0             0                 0            1

     Arts Tutor  Multimedia Tutor  Language Tutor
58            0                 0               1
58            0                 0               1
41            0                 0               1
94            0                 0               1
19            0                 0               0
17            0                 0               0
100           0                 0               1
54            0                 0               0
38            0                 1               0
7             0                 0               1
27            0                 0               0
32            0                 0               1
21            0                 0               0
28            0                 1               0
34            0                 0               0
53            0                 0               1
3             0                 0               0
12            0                 0               0
81            0                 0               0
59            0                 0               0
39            0                 0               0
13            0                 0               0
52            0                 0               0
33            0                 0               0
51            0                 0               0
82            0                 0               0
14            1                 0               0
70            0                 0               0
67            0                 0               0
91            0                 0               0
16            0                 1               0
42            0                 0               1
15            0                 0               0
68            1                 0               0
71            1                 0               0
31            0                 0               0
26            0                 0               0
11            0                 0               0
84            0                 0               0
18            0                 0               0
36            0                 0               0
23            1                 0               0
57            0                 0               0
74            1                 0               0
86            0                 0               1
20            0                 0               0